{% extends 'base.html.twig' %}

{% block body %}

	{% set sum = 0 %}
	{% set table = 1 %}
	{% set count = 0 %}

	<br>
	<div class="container">
		<h2>Your Orders</h2>
		<br>

		<table class="table table-striped">
			<thead>
				<tr>
					<td>Order Nr.</td>
					<td>Name</td>
					<td>Price</td>
					<td>Status</td>
					<td></td>
				</tr>
			</thead>

			<tbody>
				{% for order in orders %}
					{% if order.status != "archived" %}
						{% if table != order.tableNumber %}
							<td></td>
							<td></td>
							<td>{{sum}}EUR</td>
							<td></td>
							<td></td>
							{% set count = 0 %}
							{% set sum = 0 %}
						{% set table = order.tableNumber %}
						{% endif %}
						{% if table == order.tableNumber %}
							{% set sum = sum + order.price %}
						{% if count == 0 %}
						<tr>
							<td>Table {{order.tableNumber}}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						{% set count = 1 %}
						{% endif %}
						<tr>
							<td>{{order.orderNumber}}</td>
							<td>{{order.name}}</td>
							<td>{{order.price}}</td>
							{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
								<td>{{order.status}}</td>
							{% endif %}
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<td>
									<div class="dropdown show">
										<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{{order.status}}
										</a>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
											<a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'open'}) }}">open</a>
											<a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'finished'}) }}">finished</a>
											<a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'archived'}) }}">archived</a>
										</div>
									</div>
								</td>
							{% endif %}
							<td>
								{% if order.status == "open" %}
									<a class="btn btn-outline-danger btn-sm" href={{ path('delete',{id: order.id } )}} role="button">Remove</a>
								{% endif %}
							</td>
						</tr>
						{% endif %}
					{% endif %}
				{% endfor %}
				<td></td>
				<td></td>
				<td>{{sum}}EUR</td>
				<td></td>
				<td></td>
			</tbody>
		</table>
	</div>
{% endblock %}
